html { height: 100%; }
body {
    background-color: #c8c6c4;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    padding: 2rem;
}
h2 {
    display: inline;
    font-family: 'Pacifico', cursive;
    font-size: 1.875rem;
    margin-block-start: 0;
}
section {
    background-color: #fffbfb;
    font-size: 1.375rem;
    line-height: 1.5;
    padding: 1rem;
}
section p:first-of-type {
    margin-block-start: 0;
}
section p:last-of-type {
    margin-block-end: 0;
}
.media-icons {
    display: flex;
    gap: 1rem;
}
.media-icons.top-bar {
    justify-content: flex-end;
}
.media-icons span {
    background-color: black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}
.media-icons span a {
    display: contents;
}
.media-icons span img {
    width: 2rem;
}
.media-icons span img.instagram {
    width: 1.5rem;
}
#main-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}
.banner-image {
    width: 100%;
}
.highlight-image {
    float: right;
    margin-left: 1rem;
}
.contact-link {
    color: inherit;
    display: block;
    font-size: 1.625rem;
    text-decoration: none;
}